:root{
    --gradation-color: linear-gradient(90deg, rgba(249,151,3,1) 3%, rgba(251,172,0,1) 12%, rgba(222,207,33,1) 53%, rgba(238,150,35,1) 87%, rgba(223,104,13,1) 100%);    
    --height-size: 45px;
    --padding-size: 10px;
}

*{
    box-sizing: border-box;
}

ul{
    padding: 0;
}

body{
    background-color: beige;
    text-align: center;
}

.list{
    background-color:rgb(241, 194, 106);
    width: 400px;
    margin: auto;
    border-radius: 7px;
    
}

header{
    height: var(--height-size);
    padding: var(--padding-size);
    font-size:20px;
    background: var(--gradation-color);
    border-radius:7px 7px 0px 0px; /*왼 오 왼아 오아*/
    font-weight: bold;
}

.items{
    list-style: none;
}

.item__delete{
    background:none;
    border:none;
}

.item__delete:hover{
    color:red;
 
}
footer{
    height: var(--height-size);
    padding: var(--padding-size);
    background: var(--gradation-color);
    border-radius:0px 0px 7px 7px; /*왼 오 왼아 오아*/
}

input:hover{
    background: linear-gradient(90deg, rgba(236,203,153,1) 6%, rgba(241,234,218,1) 21%, rgba(238,229,120,1) 53%, rgba(238,229,123,1) 66%, rgba(240,229,213,1) 78%, rgba(241,170,116,1) 100%);
}

.addBtn, .item__delete{
    cursor: pointer;
}

.addBtn:hover{
    color:green;
    font-weight: bold;
}



