@import "reset.css";
:root{
    --main-color:#d5f2c7;
}


.Box{
    border: 1px solid;
    width:70%;
    height: 100%;
    transform: translate(50px, 50px);
    background-color:rgb(255, 255, 255) ;
}

.shoppingList{
    display:flex;
    justify-content: center;
    font-size: 25px;;
    padding:15px;
    font-weight: bold;
    background-color: var(--main-color);
}

li{
  
    padding: 10px 0px;
    margin-bottom:3px;
    list-style:inside;
   
}

form{
    margin-bottom: 5px;
    text-align: center;
    
}

input:focus{
    background-color:var(--main-color);
}







