@import "reset.css";
:root{
    --main-color:#d5f2c7;
}


.Box{
    border: 1px solid;
    width:70%;
    height: 100%;
    transform: translate(50px, 50px);
    background-color:rgb(255, 255, 255) ;
}

.shoppingList{
    text-align: center;
    font-size: 25px;
    padding:15px;
    font-weight: bold;
    background-color: var(--main-color);
}

li{
    padding:5px;
    margin-bottom:3px;
    list-style:inside;
    overflow:auto;
   
}


form{
    margin-bottom: 5px;
    text-align: center;
    
}

input:focus{
    background-color:var(--main-color);
}







