@import "reset.css";
:root{
    --main-color:#d5f2c7;
}

.Box{
    border: 1px solid;
    width: 300px;
    height: 500px;
    transform: translate(50px, 50px);
    background-color:rgb(255, 255, 255) ;
}

.shoppingList, ul, form{
    display:flex;
    justify-content: center;
}

.shoppingList{
    font-size: 25px;;
    padding:15px;
    font-weight: bold;
    background-color: var(--main-color);
}

form{
    transform: translateY(350px);
}

input{
    margin-right: 15px;
}
input:focus{
    background-color:var(--main-color);
}







